{% extends 'base.html.twig' %}

{% block title %}Confirmacion{% endblock %}

{% block body %}

    <h1>Error</h1>

    <p>Candidato no encontrado</p>

    <a href="{{ path('app_login') }}">Iniciar sesion</a>
    
{% endblock %}