@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.1rem;
    background-color: #EDEFF2;
    border-radius: 1.5rem;
}

.card {
    width: 160px;
    margin: 0.5rem;
    padding: 0rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.card-content {
    padding: 0.3rem;
    text-align: center;
}

.radio-btns {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
cursor: pointer;
}

.radio-btns img {
width: 150px;
height: 150px;
object-fit: cover;
border-radius: 50%;
}

.candidate-name {
margin-top: 0.3rem; /* Agregamos un margen superior al nombre del candidato */
text-align: center; /* Centramos el texto */
}

.selection {
font-size: 3rem;
color: #ffffff;
opacity: 0;
transition: opacity 1.5s ease;
}

input[type="radio"] {
display: none;
}

.selected {
background-color: rgba(37, 161, 142, 1);
}

input[type="submit"] {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto;
    padding: 10px 15px; /* Ajusta el relleno según sea necesario para hacer el botón más grande */
    font-size: 4em; /* Ajusta el tamaño de la fuente para hacer el botón más grande */
}

h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    color: #005f73;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #005f73;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.mt-3 {
    margin-top: 3rem !important; 
}